.wind_n_humidity {
  color: white;
}

@media screen and (max-width: 550px) {
  .wind_n_humidity {
    font-size: 1.2rem;
  }
}

.wind_icon {
  color: blueviolet;
}

.humidity_icon {
  color: blue;
}

.temp_icon {
  color: black;
}

.temp_n_weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30%;
  width: auto;
}

@media screen and (max-width: 770px) {
  .temp_n_weather {
    margin: 0 20%;
  }
}

@media screen and (max-width: 550px) {
  .temp_n_weather {
    margin: 0 5%;
  }
}

.min_max_temp {
  font-size: 1.25rem;
  font-weight: bolder;
}

@media screen and (max-width: 550px) {
  .min_max_temp {
    font-size: 1rem;
    font-weight: bolder;
  }
}

.max_temp {
  color: red;
}

.min_temp {
  color: green;
}

.weather {
  display: flex;
  align-items: center;
}

.weather p {
  font-size: 1.5rem;
  font-weight: bolder;
}

@media screen and (max-width: 550px) {
  .weather p {
    font-size: 1.25rem;
  }
}

.more {
  margin: 0 38%;
}

@media screen and (max-width: 770px) {
  .more {
    margin: 0 28%;
  }
}

@media screen and (max-width: 770px) {
  .more {
    margin: 0 20%;
  }
}

.more p {
  font-size: 1.25rem;
  font-family: cursive;
}

@media screen and (max-width: 770px) {
  .more p {
    font-size: 1rem;
  }
}
